*.sublime-project
*.sublime-workspace
sftp-config*.json
sftp-settings.json
/_dev/
services/email_spool/*
!services/email_spool/.gitkeep
/templates_c/
/.well-known/
**/.cache/
**/cache/
/files/
/venv/
/upload/
uploaded/*
/assets/plugins/*
/assets/upload/*
/assets/files/*
/assets/export/*
/assets/templates/
!.gitkeep
.svn
.hg
.git
.bzr
app/configs/common/migrated.json
app/configs/common/imported.json
_darcs
CVS
.DS_Store
Thumbs.db
desktop.ini
*.glue
/vendor/
composer.lock
run/var/*
*.lock
