<div class="container-fluid container-fixed-lg">

  <!-- START PANEL -->
  <div class="panel panel-transparent p-t-50">

  </div>
  <!-- END PANEL -->

</div>

<!-- START COPYRIGHT -->
        <!-- START CONTAINER FLUID -->
        <div class="container-fluid container-fixed-lg footer">
          <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
              <span class="hint-text">Copyright © 2019 </span>
              <span class="font-montserrat">Space4space</span>
              <span class="hint-text">All rights reserved. </span>
            </p>
           
            <div class="clearfix"></div>
          </div>
        </div>
<!-- END COPYRIGHT -->
