<form role="form" {{#data}}data-{{name}}="{{value}}" {{/data}} class="{{class}}" style="{{style}}" {{#action}}action="{{.}}"{{/action}} {{#method}}method="{{.}}"{{/method}} {{#id}}id="{{.}}"{{/id}}>
{{#fields}}
{{>page.disabled_form_element}}
{{/fields}}


<div class="row">
  <div class="col-sm-8">
  </div>
  <div class="col-sm-4 m-t-10 sm-m-t-10">
  <input type="hidden" name="state" value={{step}}>
  <button type="submit" class="btn btn-success btn-block m-t-5">Изменить</button>     


  </div>
</div>
</form> 