<form role="form" {{#data}}data-{{name}}="{{value}}" {{/data}} class="{{class}}" style="{{style}}" {{#action}}action="{{.}}"{{/action}} {{#method}}method="{{.}}"{{/method}} {{#id}}id="{{.}}"{{/id}}>

{{#panel}}
<div class="panel {{#disabled}}disabled{{/disabled}} {{#bordered}}bordered{{/bordered}} ">
	<div class="panel-heading">
		<div class="panel-title">
			{{#title}}{{.}}{{/title}}
		</div>
		<div class="pull-right">
			<div class="col-xs-12" id="buttons-container">
				<div class="btn-group dt-buttons">
        {{#disabled}}
          <input type="hidden" name="state" value={{step}}>
          <button type="submit" class="btn btn-block m-t-5">Изменить</button>
        {{/disabled}}
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="panel-body">                           
{{/panel}}



{{#fields}}
{{>page.form_element}}		
{{/fields}}

{{^disabled}}
  <div class="row">
  <div class="col-sm-8">
  </div>
  <div class="col-sm-4 m-t-10 sm-m-t-10">
      
{{#buttons}}
 <button type="{{type}}" class="btn {{class}} btn-block m-t-5">{{text}}</button>
{{/buttons}}

  </div>
</div>
{{/disabled}}

{{#panel}}                           
    </div>
  </div>
{{/panel}}

</form> 