

{{#checkbox}}
<input type="checkbox" class="form-check-input" >
<label class="form-check-label" >{{text}}</label>
{{/checkbox}}

{{#radio}}
<div class="form-check"> {{#options}}
    <input class="form-check-input" type="radio" name="exampleRadios" id="{{id}}" value="{{value}}" {{#checked}}checked="checked"{{/checked}}>
    <label class="form-check-label" for="{{id}}">
        {{text}}
    </label>
{{/options}}
</div>
{{/radio}}

<form role="form" {{#data}}data-{{name}}="{{value}}" {{/data}} class="{{class}}" style="{{style}}" {{#action}}action="{{.}}"{{/action}} {{#method}}method="{{.}}"{{/method}} {{#id}}id="{{.}}"{{/id}}>
{{#fields}}д
{{>page.form_element}}		
{{/fields}}


<div class="row">
  <div class="col-sm-8">
  </div>
  <div class="col-sm-4 m-t-10 sm-m-t-10">
      
{{#buttons}}
 <button type="{{type}}" class="btn {{class}} btn-block m-t-5">{{text}}</button>
{{/buttons}}

  </div>
</div>
</form> 