<?xml version="1.0" encoding="UTF-8"?>
<FD_State_Cadastral_Valuation Version="02" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <General_Information>
    <RegionsRF>
      <RegionRF>59</RegionRF>
    </RegionsRF>
    <Contract_Evaluation>
      <Details>
        <Date_Doc>{{date}}</Date_Doc>
        <N_Doc>1</N_Doc>
        <Name />
        <Duration>
          <Started>0001-01-01</Started>
          <Stopped>0001-01-01</Stopped>
        </Duration>
      </Details>
      <Customer>
        <Name>ФЕДЕРАЛЬНАЯ КАДАСТРОВАЯ ПАЛАТА РОСРЕЕСТРА ПО ПЕРМСКОМУ КРАЮ</Name>
        <Code_OGRN>1055900361835</Code_OGRN>
        <Address>г. Пермь, ул. Сибирская, 30а</Address>
      </Customer>
      <Administrant>
        <Juridic>
          <Name>ГБУ ЦТИ ПК</Name>
          <Code_OGRN>1175958027410</Code_OGRN>
          <Address>г. Пермь, ул. Ленина, 58а</Address>
        </Juridic>
      </Administrant>
    </Contract_Evaluation>
    <Report_Details Date="{{date}}" Number="01/КС ОН/2018">
      <Appraisers>
        <Appraiser>
          <FIO>
            <Surname>Орлов</Surname>
            <First>Александр</First>
            <Patronymic>Федосеевич</Patronymic>
          </FIO>
          <Name_Org>-</Name_Org>
        </Appraiser>
      </Appraisers>
    </Report_Details>
  </General_Information>
  <Package>
    <Groups_Real_Estates>
      {{#groups}}
      <Group_Real_Estate>
        <ID_Group>{{id}}</ID_Group>
        <Name_Group>{{name}}</Name_Group>
      </Group_Real_Estate>
      {{/groups}}
    </Groups_Real_Estates>
    <Appraise>
      <Other>
      {{#evaluation_groups}}
        <Evaluation_Group>        
          <Description>{{description}}</Description>
          <Real_Estates>
            {{#vals}}
            <Real_Estate ID_Group="{{group_id}}">
             <CadastralNumber>{{cadastral_number}}</CadastralNumber>
              <Type>{{type}}</Type>
             <Specific_CadastralCost Value="{{specific_cadastral_cost}}" Unit="1002"/>
             <Area>{{area}}</Area>
             <Category Name="{{category}}"/>
             <Utilization Name_doc="{{utilization}}"/>
             <Location>
               <Region>59</Region>
                 <Other>{{address}}</Other>
             </Location>
             <Date_valuation>{{determination_date}}</Date_valuation>
           </Real_Estate>
           {{/vals}}
          </Real_Estates>
        </Evaluation_Group>
        {{/evaluation_groups}}
      </Other>
    </Appraise>
  </Package>
</FD_State_Cadastral_Valuation>