<div id="fb-editor"></div>

<form id="saveform" method="POST">
<input type="hidden" name="action" value="edit"/>
<input id="fodata" type="hidden" name="data" value="{{{form_data}}}"/>
</form>

<script>
var formData={{{form_data}}};
</script>

