    <div class="register-container full-height">
      <div class="container-sm-height full-height">
        <div class="row row-sm-height">
          <div class="col-sm-12 col-sm-height col-middle p-b-60">
            {{#site.logo}}
		<img {{{ site.logo | src }}}  alt="{{ site.logo.alt }}" width="{{ site.logo.width }}" height="{{ site.logo.height }}">
		{{/site.logo}}
		{{^site.logo}}
		<h1>{{site.name}}</h1>
		{{/site.logo}}

            <h3>{{page.description}}</h3>
            <p>{{page.guide}}</p>
            
{{^change_password_part}}
            <form id="form-register" class="p-t-15" role="form" method="POST">
            	<input type="hidden" name="auth_oper" value="remind"/>

                  <div class="form-group form-group-default">
                    <label>Email</label>
                    <input type="email" name="auth_username" placeholder="Email используемый для входа." class="form-control" required data-msg-required="Необходимо указать рабочий email"/>                  
                  </div>


{{#user.message}}
{{#success}}
<div class="alert alert-info m-b-10" role="alert">
                      <button class="close" data-dismiss="alert"></button>
                      {{{.}}}
</div>
{{/success}}
{{#error}}
<div class="alert alert-danger m-b-10" role="alert">
                      <button class="close" data-dismiss="alert"></button>
                      {{{.}}}
</div>
{{/error}}
{{/user.message}}
					
          <button class="btn btn-primary btn-cons m-t-10 m-b-20 full-width" type="submit">Отправить ссылку для восстановления пароля</button>
          <br><a href="/" class="text-info"><i>Вернуться на страницу входа</i></a>
                        
            </form>
{{/change_password_part}}
{{#change_password_part}}
<form id="form-register" class="p-t-15" role="form" method="POST">
            	<input type="hidden" name="auth_oper" value="new-password"/>

                  <div class="form-group form-group-default">
                    <label>Новый пароль</label>
                    <input type="password" name="auth_password" class="form-control" required data-msg-required="Необходимо ввести новый пароль"/>                  
                  </div>
                  <div class="form-group form-group-default">
                    <label>Новый пароль повторно</label>
                    <input type="password" name="re_password" class="form-control" required data-msg-required="Необходимо ввести новый пароль еще раз"/>                  
                  </div>

{{#user.message}}
{{#success}}
<div class="alert alert-info m-b-10" role="alert">
                      <button class="close" data-dismiss="alert"></button>
                      {{{.}}}
</div>
{{/success}}
{{#error}}
<div class="alert alert-danger m-b-10" role="alert">
                      <button class="close" data-dismiss="alert"></button>
                      {{{.}}}
</div>
{{/error}}
{{/user.message}}
					
          <button class="btn btn-primary btn-cons m-t-10 m-b-20 full-width" type="submit">Задать новый пароль</button>
          <br><a href="/" class="text-info"><i>Вернуться на страницу входа</i></a>
                        
            </form>

{{/change_password_part}}
          </div>
        </div>
      </div>
    </div>

