<!-- START SIDEBAR MENU -->
<div class="sidebar-menu">
	<!-- BEGIN SIDEBAR MENU ITEMS-->
	<br/>
	<ul class="menu-items">

		{{#nav.tree}}
		{{> layout.sidebar.item}}
		{{/nav.tree}}

	</ul>
	<div class="clearfix"></div>
</div>
<!-- END SIDEBAR MENU -->