<!-- BEGIN SIDEBAR MENU HEADER-->
<div class="sidebar-header">
	{{#site.logo-white}}<img {{{ site.logo-white | src }}} alt="{{ site.logo-white.alt }}" class="brand text-white" width="{{ site.logo-white.width }}" height="{{ site.logo-white.height }}">
					{{/site.logo-white}}
				{{^site.logo-white}}
				<h2 style="margin-top:0px; line-height: 60px; color: #999; font-size: 28px;"></h2>
				{{/site.logo-white}}
</div>
 <!-- END SIDEBAR MENU HEADER-->